

/* Responsive Functions (Stretch fixes and Devices Adaptation) */


/* HEADER (Toolbar) */

@media screen and (max-width: 962px) {
        
    .song__details__actions i:last-child {
        display: block;
        margin: 0;
    }

}

@media screen and (max-width: 833px) {

    .desktop__stretch__fix {
        display: block;
        margin-top: -4px;
    }

}


/* MAIN */


/* Sidebar */

@media screen and (max-width: 538px) {
    
    .sidebar {
        padding-top: 4px;
        width: 90px;
    }

    .logo img:last-child {
        display: none;
    }

    .logo img:first-child {
        display: block;
        margin: 13px 10px;
    }

    .sidebar__playlist {
        display: none;
    }

    .sidebar__nav span {
        display: none;
    }

    #home {
        border: none;
    }

    #home i, #search i, #library i {
        padding: 10px 0;
        margin: 0 auto;
    }
    

}

/* Main Content */

/* Main Toolbar */


/* Main Body */

@media screen and (max-width: 1284px) {

    .song__list a {
        width: calc(100% / 5);
    }

}

@media screen and (max-width: 1134px) {

    .song__list a {
        width: calc(100% / 4);
    }

}

@media screen and (max-width: 987px) {

    .song__list a {
        width: calc(100% / 3);
    }

}

@media screen and (max-width: 838px) {

    .song__list a {
        width: calc(100% / 2);
    }

}

@media screen and (max-width: 692px) {

    .song__list a {
        width: calc(100% / 1);
    }

}


