/* General Rules*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout rules*/

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

/* HEADER (Toolbar)*/

header {
    display: flex;
    height: 90px;
    justify-content: space-between;
    background-color: #282828;
    padding-bottom: 5px;
    box-sizing: content-box;
}

header a {
    text-decoration: none;
    color: white;
}

    /* Song Details: Logo / Name / Actions*/

    .song__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 230px;
        height: 100%;
        padding: 0 11px;
    }

    .song__details__img img {
        height: 42px;
    }

    .song__details__name {
        padding-right: 10px;
        padding-left: 12px;
        flex-grow: 1;
    }

    .song__details__name span:first-child {
        display: block;
        margin-bottom: -3px;
        color: white;
        font-size: 12px;
        font-weight: 700;
    }

    .song__details__name a {
        color: #858585;
        font-size: 12px;
        font-weight: 600;
    }

    .song__details__name > div:hover a{
        color: white;
        text-decoration: underline;
    }

    .desktop__stretch__fix {
        display: inline-block;
    }

    
        /* Desktop Stretch Fix*/

        @media screen and (max-width: 950px) {
        
            .song__details__actions i:last-child {
                display: block;
                margin: 0;
            }
        
        }

        @media screen and (max-width: 792px) {

            .desktop__stretch__fix {
                display: block;
                margin-top: -4px;
            }

        }


    .song__details__actions a{
        color: #858585;
    }

    .song__details__actions a:hover{
        color: white;
    }

    .song__details__actions i:last-child {
        margin-left: 8px;
    }

    /* Song Player: Buttons / Loading */    

    .song__player {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 9px;
        width: 534px;
        height: 100%;
        margin: 0 10px;
    }

    .song__player__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 22px;
        color: white;
    }

    .song__player__buttons i {
        font-size: 15px;
    }

    #play__pause i {
        font-size: 25px;
    }

    .song__player__loading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .song__player__minutes {
        color: white;
        font-size: 12px;
    }

    .song__player__load-bar {
        flex-grow: 1;
        background-color: #5A5A5A;
        height: 4px;
        margin: 0 26px;
        border-radius: 5px;
    }

    #load-bar__listened {
        background-color: white;
        width: 35%;
        height: 100%;
        border-radius: 5px;
    }


    /* Songs Settings: Playlist / Screen / Volume */

    .song__settings {
        display: flex;
        gap: 15px;
        width: 230px;
        min-width: 151.31px;
        height: 100%;
        padding: 0 11px;
        align-items: center;
    }

    .song__settings i{
        font-size: 14px;
        color: white;
    }

    .volume__settings {
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 10px;
    }

    #settings__volume__bar {
        width: 25px;
        height: 4px;
        background-color: #5A5A5A;
        border-radius: 5px;
        flex-grow: 1;
    }

    #volume__level {
        width: 30%;
        height: 100%;
        background-color: white;
        border-radius: 5px;
    }




/* MAIN */

main {
    display: flex;
    flex-grow: 1;
}

    /* Sidebar */

    .sidebar {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 230px;
        background-color: #000000;
    }

    .sidebar a {
        text-decoration: none;
        color: #666666;
    }

        /* Logo */

        .logo {
            gap: 0;
        }

        .logo img {
            margin: 20px 18px;
            width: 160px;
        }

        .logo img:first-child {
            display: none;
            width: 38px;
        }

        /* Sidebar Nav */

        .sidebar__nav a {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .sidebar__nav i {
            font-size: 22px;
            padding-left: 22px;
            padding-top: 7px;
            padding-bottom: 7px;
        }

        .sidebar__nav span {
            font-weight: 700;
        }

        .active:hover {
            color: white;
        }

        #home {
            border-left: 3px solid #ADFF2F;
        }

        #home a {
            color: white;
        }

        #home i{
            padding-left: calc(20px - 3px);
        }

        /* Sidebar Playlist */

        .sidebar__playlist {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .sidebar__playlist i {
            font-size: 22px;
            padding-left: 22px;
            padding-top: 7px;
            padding-bottom: 7px;
        }

        .sidebar__playlist a {
            color: #666666;
        }

        .sidebar__playlist a:hover {
            color: white;
        }

        .sidebar__playlist__header {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        #playlist__header {
            font-size: 17px;
            font-weight: 700;
            padding-left: 22px;
            padding-top: 7px;
            padding-bottom: 7px;
            color: white;
        }


        .create__playlist {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        #new__playlist__button {
            font-size: 35px;
        }
        
        .create__playlist span {
            font-size: 17px;
            padding-left: 0;
            font-weight: 700;
        }

        .your__playlist div {
            height: 35px;
        }

        .your__playlist a{
            color: #666666;
            font-size: 15px;
            font-weight: 700;
            padding-left: 22px;
            margin: 8px 0;
        }

    
    /* Main Content */
        
    .main-content {
        flex-grow: 1;
    }

